<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>User Dashboard</title>
</head>
<body>
	<section>
		<div class="card mr-3 ml-3">
			<div class="card-body alert-danger">
				<div class="container text-center table-responsive">
					<h1><i class="fas fa-users-slash"></i></h1>
					<h2 class="mt-3 text-center">Contact Not Found</h2>	
					<h1 class="text-center">You Don't have Permission to View this Contact</h1>				
				</div>
			</div>
		</div>
	</section>
</body>
</html>