<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>User Profile Page</title>
</head>
<body>
	<section>
		
		<div class="container">
				<div class="card">
					<div class="card-body">
					
					<div class="container text-center">
						<img src="" style="width: 200px ; height: 200px;" class="my_profile_picture" th:src="@{'/image/'+${user.imageUrl}}" alt="profile_photo" />
					</div>
					
					<h1 class="text-center mt-3" th:text="${#strings.toUpperCase(user.name)}"></h1>
					<table class="table table-striped table-light text-center">
						  <thead>
						    <tr>
						      <th scope="col">#USERID</th>
						      <th scope="col"><span th:text="${user.id}"></span></th>						    
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <th scope="row">Email</th>
						      <td><span th:text="${user.email}"></span></td>						   
						    </tr>	
						    <tr>
						      <th scope="row">Role</th>
						      <td><span th:text="${user.role}"></span></td>						   
						    </tr>	
						    <tr>
						      <th scope="row">Account Active</th>
						      <td><span th:text="${user.enabled}"></span></td>						   
						    </tr>	
						    <tr>
						      <th scope="row">About</th>
						      <td><span th:text="${user.about}"></span></td>						   
						    </tr>			    
						  </tbody>
				</table>
					</div>
				</div>
		</div>
		
		 <script>
		
		/* alert('This is home page')	 */
				
		$(document).ready(() => {
			$('.item').removeClass('active');
			$('#profile-link').addClass('active');
			/* $('#home-link').addClass('active');
			$('#contacts-link').addClass('active');
			$('#add-link').addClass('active');
			$('#settings-link').addClass('active'); */
		});
		
		</script>
		
	</section>
</body>
</html>