<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Show Contacts</title>
</head>
<body>
	<section>
	
		<!-- <div class="card mr-3 ml-3"> -->
		<div class="container">
		
		<!-- <div class="card-body-fluid mr-3 ml-3"> -->
		<div class="card">
		
		<div class="card-body">
			
		<h1 class="text-center"><i class="far fa-address-card"></i></h1>			
				<h1 class="text-center">Your Contacts</h1>
				
				<!-- search functionality -->
				<div class="search-container my-4 table-responsive">
				
				<input onkeyup="search()" id="search-input" type="text" class="form-control" placeholder="Search Your Contact Here " />
				
					<div class="search-result">
						
						<!-- Result goes here -->
						
						
					</div>
				
				</div>
				
						<div class="container-fluid table-responsive">
							<table class="table mt-1 table-striped table-hover">
								  <thead>
								    <tr>
								      <th scope="col">#ID</th>
								      <th scope="col">Name</th>
								      <th scope="col">Email</th>
								      <th scope="col">Phone</th>
								      <th scope="col">Action</th>
								    </tr>
								  </thead>
								  <tbody>
								    <tr th:each="c : ${contacts}">
								    
								      <th scope="row" th:text="${'USER  '+c.cId}"></th>
								      
								      <td >
								      	<img src="" class="my_profile_picture" th:src="@{'/image/'+${c.image}}" alt="profile_photo" />
								      	<span th:text="${c.name}"></span>
								      </td>
								      
								      <td >
								      	<a href="#" th:href="@{'/user/'+${c.cId}+'/contact'}"><span th:text="${c.email}"></span></a>
								      </td>
								      
								      <td th:text="${' '+c.phone}" class="fas fa-phone-alt"></td>
								      
								      <td>
								      <a th:onclick="|deleteContact(${c.cId})|" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Delete</a>
								      <form method="post" class="mt-2" th:action="@{'/user/update-contact/'+${c.cId}}">
								     	 <button type="submit" class="btn btn-primary btn-sm">
								     	 			<i class="far fa-edit"></i> Update</button>
								      </form>
								      </td>
								    </tr>								
								  </tbody>
							</table>
						</div>
							<!-- pagination part  -->
							<nav aria-label="...">
		  						<ul class="pagination justify-content-center">
		  						
		    						<li th:if="${currentPage!=0}" class="page-item">
								      	<a th:href="@{'/user/show-contacts/'+${currentPage-1}}" class="page-link" href="#" tabindex="-1">Previous</a>
		    						</li>
		    								    						
		    						<li th:classappend="${currentPage==i-1?'active':''}" th:each="i :${#numbers.sequence(1,totalPages)}" class="page-item">
		      							<a th:href="@{'/user/show-contacts/'+${i-1}}" class="page-link" href="#"><span th:text="${i}">(current)</span></a>
								    </li>
								    		    						
		    						<li th:if="${currentPage+1!=totalPages}" class="page-item">
		      							<a th:href="@{'/user/show-contacts/'+${currentPage+1}}" class="page-link" href="#">Next</a>
		    						</li>
		    						
								</ul>
							</nav>
					</div>
			</div>
		</div>
		
		<script>
		
		/* alert('This is home page')	 */
				
		$(document).ready(() => {
			$('.item').removeClass('active');
			$('#contacts-link').addClass('active');
			/* $('#home-link').addClass('active');
			$('#profile-link').addClass('active');
			$('#add-link').addClass('active');
			$('#settings-link').addClass('active'); */
		});
		
		</script>
		
	</section>
</body>
</html>